Figurer
Rutiner/Moltas/*.asv
MyTorch/__pycache__
MyTorch/data
MyTorch/data*
MyTorch/trained_models
MyTorch/trained_models2
MyTorch/largedataset
MyTorch/largedataset.zip
MyTorch/raytune_results
MyTorch/singlepoints
AI_Sweden_test
MyTorch/meas_data
MyTorch/singleline
MyTorch/shapes
MyTorch/test_data
*.pptx
*.pdf